*.pyc
__pycache__/

# tests and coverage
*.pytest_cache
.coverage

# database & logs
*.db
*.sqlite3
*.log

# venv
virtenv
marineproject 2nd oct/marineproject/db.sqlite3
marineproject 2nd oct/marineproject/db.sqlite3
