<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>

    <h1>Main Dashboard</h1>
    <img src="" alt="need to upload profile pic of person">
    <p>Name: {{request.user.customer.full_name}}</p>
    <p>Email: {{request.user.customer.email}}</p>
    <p>Departments: {{request.user.customer.department}}</p>

<!-- if statement to show only one value -->
<a href="{% url 'marineapp:hrdashboard' %}"><button onclick="">HR Dashboard</button></a>
<a href="{% url 'marineapp:trainerdashboard' %}"><button onclick="">Trainer Dashboard</button></a>
<a href="{% url 'marineapp:traineedashboard' %}"><button onclick="">Trainee Dashboard</button></a>
    

</body>

</html>