{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
</head>

<body>
    <!-- {% include 'navbar.html' %} -->
    <!-- copy lines 15,16, 20-28 -->
    <h1>Main Dashboard</h1>
    <img src="{{request.user.customer.profile_pic}}" alt="need to upload profile pic of person">
    <p>Name: {{request.user.customer.full_name}}</p>
    <p>Email: {{request.user.customer.email}}</p>

    <p>Departments: </p>
    <!-- if statement to show only one value -->
    {% if user.customer.hr %}
    <a href="{% url 'marineapp:hrdashboard' %}"><button onclick="">HR Dashboard</button></a>
    {% endif %}
    {% if user.customer.trainer %}
    <a href="{% url 'marineapp:trainerdashboard' %}"><button onclick="">Trainer Dashboard</button></a>
    {% endif %}
    {% if user.customer.trainee %}
    <a href="{% url 'marineapp:traineedashboard' %}"><button onclick="">Trainee Dashboard</button></a>
    {% endif %}
    <a href="{% url 'marineapp:insideship' %}"><button onclick="">Virtual Tour</button></a>


    

</body>

</html>