{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Trainee Dashboard</title>
</head>

<body>
    <h1>Trainee Dashboard</h1>
    <a href="{% url 'marineapp:maindashboard' %}"><button onclick="">Main Dashboard</button></a>


    <a href="{% url 'marineapp:matchinstruction.html' %}"><button>Module 1</button></a>
    <a href="{% url 'marineapp:module3question' %}"><button>Module 2</button></a>
    <a href="{% url 'marineapp:module3question' %}"><button>Module 3</button></a>
    <a href="{% url 'marineapp:Outsideship' %}"><button>Module 4</button></a>
    <a href="{% url 'marineapp:Outsideship' %}"><button>Module 5</button></a>

</body>

</html>